entrypoint = "index.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "expo start --tunnel"]
deploymentTarget = "gce"
ignorePorts = false

[workflows]
runButton = "Expo Start Tunnel"

[[workflows.workflow]]
name = "Expo Start Tunnel"
mode = "sequential"
author = 30238722

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --tunnel"

[[workflows.workflow]]
name = "Expo Start"
mode = "sequential"
author = 30238722

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start"

[[ports]]
localPort = 4040
externalPort = 8080
exposeLocalhost = true

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000
